.env
.git
.github
.pytest_cache
.ruff_cache
.venv
**/__pycache__
**/*.py[cod]
**/*:Zone.Identifier
**/.ipynb_checkpoints
**/*.ipynb
**/*.grib
**/*.grib2
**/*.grb
**/*.h5
**/*.hdf5
**/*.nc
**/*.npy
**/*.npz
**/*.tif
**/*.tiff
**/*.zarr
**/raw_data
**/results
**/outputs
*.sif
docs
requirements.txt
