# Credentials
CDSAPI_KEY="replace_with_your_cds_api_key"
CDSAPI_CONFIG_FILE=~/.cdsapirc

# Shared scientific profile
SCIENTIFIC_PROFILE=xhwi-2024-v1
XHWI_MINIMUM=0.001

# Shared NetCDF and in-memory representation
NUMPY_DTYPE=float32
NETCDF_ENGINE=netcdf4
NETCDF_FORMAT=NETCDF4
NETCDF_COMPRESSION=true
NETCDF_COMPLEVEL=4
NETCDF_DTYPE=float32
NETCDF_FILL_VALUE=nan
NETCDF_PROGRESS=true

# Shared metadata
METADATA_CREATORS="Marcio Cataldi <mcataldi@id.uff.br>"
METADATA_INSTITUTION="Climate System Monitoring and Modeling Laboratory (LAMMOC), Universidade Federal Fluminense (UFF), Niteroi, Brazil"
METADATA_PROJECT=RiskClima
METADATA_LICENSE=CC-BY-4.0
METADATA_REFERENCES=https://riskclima.com.br/
METADATA_REPOSITORY=https://github.com/lammoc-uff/cnpq-riskclima
METADATA_CONVENTIONS=CF-1.10
METADATA_PROCESSING_LEVEL="Processed data"

# Shared logging
LOG_LEVEL=INFO
LOG_FORMAT="%(levelname)s %(name)s: %(message)s"

# ERA5
ERA5_DEVICE=auto
ERA5_TORCH_DTYPE=float32
ERA5_LATITUDE_BLOCK_SIZE=64
ERA5_LONGITUDE_BLOCK_SIZE=64
ERA5_MONTHS_TO_RUN=[1,2,3,4,5,6,7,8,9,10,11,12]
ERA5_CALIBRATION_START=1961-01-01
ERA5_CALIBRATION_END=1990-12-31
ERA5_APPLICATION_START=
ERA5_APPLICATION_END=
ERA5_CALIBRATION_POLICY=create_if_missing
ERA5_PART_EXISTING_POLICY=skip
ERA5_FINAL_EXISTING_POLICY=overwrite
ERA5_CONCAT_INPUT_POLICY=all_matching_parts
ERA5_CALIBRATION_FILE_TEMPLATE=era5/raw_data/xhwi_era5_calib_t2m_max_{start_year}-{end_year}.nc
ERA5_PART_FILE_TEMPLATE=era5/results/monthly/parts/xhwi_{source}_month_{month}.nc
ERA5_FINAL_FILE_TEMPLATE=era5/results/monthly/xhwi_era5_monthly_ind_prod.nc
ERA5_DATASET_ID=ERA5_ARCO
ERA5_SOURCE_ID=era5
ERA5_ZARR_URL=https://arco.datastores.ecmwf.int/cadl-arco-geo-002/arco/reanalysis_era5_single_levels/sfc/geoChunked.zarr
ERA5_ZARR_CHUNKS=auto
ERA5_ZARR_CONSOLIDATED=true
ERA5_REQUEST_TIMEOUT_SECONDS=600
ERA5_VARIABLE_T2M=t2m
ERA5_VARIABLE_T2M_ALIAS=t2m
ERA5_VARIABLE_HUMIDITY=d2m
ERA5_VARIABLE_HUMIDITY_ALIAS=d2m
ERA5_LATITUDE_START=-70.0
ERA5_LATITUDE_END=20.0
ERA5_LONGITUDE_START=-120.0
ERA5_LONGITUDE_END=-5.0

# ERA5-Land
ERA5LAND_DEVICE=auto
ERA5LAND_TORCH_DTYPE=float32
ERA5LAND_LATITUDE_BLOCK_SIZE=64
ERA5LAND_LONGITUDE_BLOCK_SIZE=64
ERA5LAND_MONTHS_TO_RUN=[1,2,3,9,10,11,12]
ERA5LAND_CALIBRATION_START=1961-01-01
ERA5LAND_CALIBRATION_END=1990-12-31
ERA5LAND_APPLICATION_START=2010-01-01
ERA5LAND_APPLICATION_END=2025-12-31
ERA5LAND_CALIBRATION_POLICY=create_if_missing
ERA5LAND_PART_EXISTING_POLICY=skip
ERA5LAND_FINAL_EXISTING_POLICY=overwrite
ERA5LAND_CONCAT_INPUT_POLICY=all_matching_parts
ERA5LAND_CALIBRATION_FILE_TEMPLATE=era5land/raw_data/xhwi_era5land_calib_t2m_max_{start_year}-{end_year}.nc
ERA5LAND_PART_FILE_TEMPLATE=era5land/results/monthly/parts/xhwi_{source}_month_{month}.nc
ERA5LAND_FINAL_FILE_TEMPLATE=era5land/results/monthly/xhwi_era5land_monthly_ind_prod.nc
ERA5LAND_DATASET_ID=ERA5_LAND_ARCO
ERA5LAND_SOURCE_ID=era5-land
ERA5LAND_ZARR_URL=https://arco.datastores.ecmwf.int/cadl-arco-geo-007/arco/reanalysis_era5_land/sfc-2m-temperature/geoChunked.zarr
ERA5LAND_DEWPOINT_ZARR_URL=https://arco.datastores.ecmwf.int/cadl-arco-geo-007/arco/reanalysis_era5_land/sfc-2m-dewpoint-temperature/geoChunked.zarr
ERA5LAND_ZARR_CHUNKS=auto
ERA5LAND_ZARR_CONSOLIDATED=true
ERA5LAND_REQUEST_TIMEOUT_SECONDS=600
ERA5LAND_VARIABLE_T2M=2m_temperature
ERA5LAND_VARIABLE_T2M_ALIAS=t2m
ERA5LAND_VARIABLE_HUMIDITY=2m_dewpoint_temperature
ERA5LAND_VARIABLE_HUMIDITY_ALIAS=d2m
ERA5LAND_LATITUDE_START=-24.0
ERA5LAND_LATITUDE_END=-20.0
ERA5LAND_LONGITUDE_START=-46.0
ERA5LAND_LONGITUDE_END=-40.0

# CMIP6
CMIP6_DEVICE=auto
CMIP6_TORCH_DTYPE=float32
CMIP6_LATITUDE_BLOCK_SIZE=16
CMIP6_LONGITUDE_BLOCK_SIZE=16
CMIP6_MONTHS_TO_RUN=[1,2,3,4,5,6,7,8,9,10,11,12]
CMIP6_CALIBRATION_START=1961-01-01
CMIP6_CALIBRATION_END=1990-12-31
CMIP6_APPLICATION_START=
CMIP6_APPLICATION_END=
CMIP6_CALIBRATION_POLICY=create_if_missing
CMIP6_PART_EXISTING_POLICY=skip
CMIP6_FINAL_EXISTING_POLICY=overwrite
CMIP6_CONCAT_INPUT_POLICY=all_matching_parts
CMIP6_CALIBRATION_FILE_TEMPLATE=cmip6/{model}/results/xhwi_torch/xhwi_cmip6_{model}_historical_tasmax_{start_year}-{end_year}.nc
CMIP6_PART_FILE_TEMPLATE=cmip6/{model}/results/xhwi_torch/{scenario}/parts/xhwi_cmip6_{model}_{scenario}_{member}_month_{month}.nc
CMIP6_FINAL_FILE_TEMPLATE=cmip6/{model}/results/xhwi_torch/xhwi_cmip6_{model}_{scenario}_{member}_monthly_accumulated_torch.nc
CMIP6_DATASET_ID=CMIP6
CMIP6_SOURCE_ID=cmip6
CMIP6_MODEL=BCC-CSM2-MR
CMIP6_MEMBER=r1i1p1f1
CMIP6_GRID=gn
CMIP6_SCENARIOS=["historical","ssp245","ssp585"]
CMIP6_DEFAULT_SCENARIO=historical
CMIP6_TIME_CHUNK=744
CMIP6_CALIBRATION_TIME_CHUNK=-1
CMIP6_SPATIAL_CHUNK=32
CMIP6_ZARR_CONSOLIDATED=true
CMIP6_VARIABLE_TAS=tas
CMIP6_VARIABLE_HUSS=huss
CMIP6_VARIABLE_TASMAX=tasmax
CMIP6_STANDARD_PRESSURE_PA=101325.0
CMIP6_INTERPOLATION_FREQUENCY=1h
CMIP6_INTERPOLATION_METHOD=linear
CMIP6_SCENARIO_TAS_TEMPLATE=cmip6/{model}/{scenario}/3hr/tas/{grid}/member-{member}.zarr
CMIP6_SCENARIO_HUSS_TEMPLATE=cmip6/{model}/{scenario}/3hr/huss/{grid}/member-{member}.zarr
CMIP6_CALIBRATION_SOURCE_TEMPLATE=cmip6/{model}/historical/day/tasmax/{grid}/ensemble_mean.zarr
