# Shared SACZ paths
SACZ_BASE_DIRECTORY=.
SACZ_AREAS_FILE=areas/sams_index_calc_areas.shp
SACZ_COEFFICIENTS_DIRECTORY=coefs
SACZ_REGIONS=["AB","C","DE"]
SACZ_DAILY_RESULTS_FILENAME=SACZ_index_daily_all_years.csv
SACZ_MONTHLY_RESULTS_FILENAME=SACZ_index_monthly_all_years.csv

# ERA5
ERA5_YEAR=2020
ERA5_RAW_DIRECTORY=era5/raw_data
ERA5_INPUT_DIRECTORY=era5/processed_data
ERA5_INTERMEDIATES_DIRECTORY=era5/processed_data/intermediates
ERA5_OUTPUT_DIRECTORY=era5/results

# CMIP6
CMIP6_DATA_DIRECTORY=cmip6/raw_data
CMIP6_INPUT_DIRECTORY=cmip6/processed_data
CMIP6_INTERMEDIATES_DIRECTORY=cmip6/processed_data/intermediates
CMIP6_OUTPUT_DIRECTORY=cmip6/results
CMIP6_SOURCE_ID=BCC-CSM2-MR
CMIP6_EXPERIMENT_ID=ssp245
CMIP6_START_YEAR=2015
CMIP6_END_YEAR=2050
