# Shared SPI calculation
SPI_SCALE_MONTHS=1
SPI_DISTRIBUTION=gamma
SPI_METHOD=APP
SPI_FLOC=0

# Shared NetCDF output
NETCDF_ENGINE=netcdf4
NETCDF_FORMAT=NETCDF4
NETCDF_COMPRESSION=true
NETCDF_COMPLEVEL=4

# Shared metadata
METADATA_CREATORS="Marcio Cataldi <mcataldi@id.uff.br>"
METADATA_INSTITUTION="Climate System Monitoring and Modeling Laboratory (LAMMOC), Universidade Federal Fluminense (UFF), Niteroi, Brazil"
METADATA_PROJECT=RiskClima
METADATA_LICENSE=CC-BY-4.0
METADATA_REFERENCES=https://riskclima.com.br/
METADATA_REPOSITORY=https://github.com/lammoc-uff/cnpq-riskclima
METADATA_CONVENTIONS=CF-1.10
METADATA_PROCESSING_LEVEL="Processed data"

# Shared logging
LOG_LEVEL=INFO
LOG_FORMAT="%(levelname)s %(name)s: %(message)s"

# CMIP6
CMIP6_INPUT_FILE=/path/to/preprocessed_cmip6_precipitation.zarr
CMIP6_CALIBRATION_INPUT_FILE=/path/to/preprocessed_historical_precipitation.zarr
CMIP6_MODEL=BCC-CSM2-MR
CMIP6_EXPERIMENT=ssp245
CMIP6_MEMBER=r1i1p1f1
CMIP6_GRID=gn
CMIP6_PRECIPITATION_VARIABLE=pr
CMIP6_TIME_DIMENSION=time
CMIP6_LATITUDE_DIMENSION=lat
CMIP6_LONGITUDE_DIMENSION=lon
CMIP6_CALIBRATION_START=1961-01-01
CMIP6_CALIBRATION_END=1990-12-31
CMIP6_APPLICATION_START=2015-01-01
CMIP6_APPLICATION_END=2050-12-31
CMIP6_OUTPUT_DIRECTORY=cmip6/results
CMIP6_OUTPUT_TEMPLATE=spi{scale_months}_{model}_{experiment}_{member}_{grid}_{start}_{end}.nc

# Other CMIP6 execution examples
# CMIP6_INPUT_FILE=/path/to/ssp245_precipitation.zarr
# CMIP6_EXPERIMENT=ssp245
# CMIP6_INPUT_FILE=/path/to/ssp585_precipitation.zarr
# CMIP6_EXPERIMENT=ssp585

# CDS credentials used for every ERA5 run
CDSAPI_URL=https://cds.climate.copernicus.eu/api
CDSAPI_KEY=
CDSAPI_CONFIG_FILE=~/.cdsapirc

# ERA5 acquisition
ERA5_DATASET=reanalysis-era5-single-levels-monthly-means
ERA5_PRODUCT_TYPE=monthly_averaged_reanalysis
ERA5_REQUEST_VARIABLE=total_precipitation
ERA5_DOWNLOAD_START=1940-01-01
ERA5_DOWNLOAD_END=2026-07-01
ERA5_TIME=00:00
ERA5_DATA_FORMAT=netcdf
ERA5_DOWNLOAD_FORMAT=unarchived
ERA5_LATITUDE_MIN=-70
ERA5_LATITUDE_MAX=20
ERA5_LONGITUDE_MIN=-120
ERA5_LONGITUDE_MAX=-5
ERA5_RAW_FILE_TEMPLATE=era5/raw_data/era5_tp_monthly_{start}_{end}.nc
ERA5_SPATIAL_CHUNK=32
ERA5_DASK_WORKERS=1

# ERA5 input, periods, and output
ERA5_PRECIPITATION_VARIABLE=tp
ERA5_TIME_DIMENSION=valid_time
ERA5_LATITUDE_DIMENSION=latitude
ERA5_LONGITUDE_DIMENSION=longitude
ERA5_CALIBRATION_START=1961-01-01
ERA5_CALIBRATION_END=1990-12-31
ERA5_APPLICATION_START=1940-01-01
ERA5_APPLICATION_END=2026-07-01
ERA5_OUTPUT_DIRECTORY=era5/results
ERA5_OUTPUT_TEMPLATE=spi{scale_months}_era5_{start}_{end}.nc
